.form,
.field {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form .field input[type="text"],
.form .field select {
    padding: 1rem;
    background-color: transparent;
    border: .3rem solid var(--white);
    color: var(--white);
    font-size: 1.8rem;
    font-weight: 400;
    border-radius: 1rem;
}

.form .field select option {
    color: #333;
    background-color: var(--white);
}

.form .field ::placeholder {
    color: var(--white);
}

.submit {
    background-color: var(--primary);
    margin-top: 2rem;
    padding: 1.5rem 3rem;
    border: none;
    border-radius: .3rem;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--white);
    cursor: pointer;
}

.submit:hover {
    opacity: 0.9;
}