.container {
    background-color: var(--white);
    color: #000;
    border-radius: 1rem;
    text-align: center;
    padding: 3rem;
}

.current {
    font-size: 6rem;
    font-weight: 900;
    color: var(--primary);
    margin: 0;
}

.temperatures {
    display: flex;
    justify-content: center;
    gap: 6rem;
}

.temperatures p {
    font-weight: 900
}

.temperatures span {
    font-weight: 400
}